@import "tailwindcss";

/* scrollbar design globally */
* {
  scrollbar-width: thin;
  scrollbar-color: #8b5cf6 #f1f1f1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #8b5cf6;
  border-radius: 10px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c3aed;
}
